@tailwind base;
@tailwind components;
@tailwind utilities;

.social-button {
  transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s;
}

.social-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tech-stack {
  font-size: 25px; /* Ubah ukuran font sesuai kebutuhan */
  font-weight: 700;
}
